* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
}

main, form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

input[type='submit'] {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #00bcd4;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 300ms;
}

input[type='submit']:hover {
  background-color: #00acc1;
}

textarea {
  padding: 15px;
  resize: vertical;
}